.direct-arrow-pic {
	width: 290px;
	height: 170px;

	margin: auto;
}

.direct-arrow-pic__svg {
	width: 100%;
	height: 100%;

	user-select: none;
}

.svg__figure {
	fill: none;
	stroke: rgba(221, 195, 255, 0.35);
	stroke-width: 3px;
}

.svg__caption {
	font-size: 36px;
	fill: #fff;
	letter-spacing: 0.08em;
	text-anchor: middle;
}
