.section {
	box-sizing: border-box;

	margin: auto;
}

.about-card {
	box-sizing: border-box;

	flex-direction: column;

	max-width: 1125px;

	padding: 20px 60px;

	border-radius: 10px;
	background-color: #FFF;
}

h1 {
	font-size: 36px;
	font-weight: 600;
	color: #34224B;
}

p, ul {
	font-size: 24px;
}

.about-card__footer {
	font-size: 31spx;
	font-weight: 600;
	color: #ED5B3B;
}