.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--card-width));
	grid-template-rows: repeat(auto-fill, var(--card-width));
	grid-gap: 30px;
	justify-content: space-around;
}
