.button {
	box-sizing: border-box;

	height: 55px;
	width: 220px;

	margin: 0 25px;
	padding: 4px 14px;

	border-radius: 20px;
	border: none;
	outline: none;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.51);

	color: #fff;
	font-family: Rubik, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.button:hover {
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.51);
}

.button:active {
	box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.51);
}

.button_orng {
	background-color: #ED5B3B;
}

.button_orng:hover {
	background-color: #E7401D;
}
