.info-section__card {
	box-sizing: border-box;

	max-width: 1400px;

	margin: auto;
	padding: 20px 90px;

	border-radius: 10px;
	background-color: #FFF;

	font-size: 24px;
}

.info__title__container {
	display: flex;
	align-items: center;
}

.info__title {
	font-size: 36px;
	font-weight: 600;
	color: #34224B;
	
	margin-left: 15px;
}