:root {
  --gradient-offset: 180vh;
  --header-height: 50px;
  --card-width: 350px;
}

.page {
  background: linear-gradient(30deg, #1C053A 0%, #34224B calc(100% - var(--gradient-offset)), #1F3DA7 100%);
}

.page__container {
  width: 80%;
  max-width: 2000px;

  margin: var(--header-height) auto 0;
  padding: 30px 0;
}

@media screen and (max-width: 1024px) {
  :root {
    --gradient-offset: 130vh;
    --card-width: 280px;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --header-height: 80px;
  }
}

.section {
  box-sizing: border-box;

  margin: 100px auto;
  padding: 30px 0;
}

@media screen and (max-width: 1024px) {
  .section {
    margin: 50px auto;
  }
}
