.visualization-section {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	max-width: 2000px;
	min-height: calc(85vh - var(--header-height));

	margin: var(--header-height) auto 0;

	background: #fff;
}

.toolbar {
	position: fixed;
	bottom: 0;
	left: 0;

	height: 15vh;
	width: 100%;

	margin: 0;

	text-align: center;
	background: #20093C;
}

.toolbar__input,
.toolbar__output {
	position: absolute;
	top: 0;
	transform: translate(-50%, -100%);

	padding: 5px 10px;

	border: 2px solid;
	border-bottom: none;
	border-radius: 10px 10px 0 0;

	font-size: 1.2em;
	font-family: inherit;
	text-align: center;
	outline: none;
}
.toolbar__input {
	left: 50%;

	border-color: #20093C;
}

.toolbar__output {
	left: 20%;
	height: 1.2em;

	border-color: #ED5B3B;;
}

.toolbar__button {
	width: fit-content;
	min-width: 120px;
}

.toolbar input[type=number]::-webkit-inner-spin-button,
.toolbar input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}