.visualization-section {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	max-width: 2000px;
	min-height: calc(85vh - var(--header-height));

	margin: var(--header-height) auto 0;

	background: #fff;
}

.toolbar {
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 15vh;
	width: 100%;

	margin: 0;
	padding: 60px 0 20px;

	background: #20093C;
}

.toolbar__input,
.toolbar__output,
.toolbar__animation {
	position: absolute;
	top: 0;
	transform: translate(-50%, 0);

	min-width: 180px;

	padding: 5px 10px;

	border: 2px solid;
	border-radius: 0 0 10px 10px;
	border-color: #ED5B3B;

	font-size: 1.2em;
	font-family: inherit;
	text-align: center;
	outline: none;
	background: #fff;
}

.toolbar__output {
	left: 20%;
	height: 1.2em;
}

.toolbar__input {
	left: 50%;
}

.toolbar__animation {
	left: 80%;
	height: 1.2em;
}

.toolbar__button {
	width: fit-content;
	min-width: 120px;
}

.toolbar input[type=number]::-webkit-inner-spin-button,
.toolbar input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}